{:kotoba.app/id "cloud.itonami.isic-960", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreifs3sxhkyqhdscwywsigcmy73by42t72sn5wpfnkdpx225bxrkm5a", :kotoba.app/embed-url "ipfs://bafkreifs3sxhkyqhdscwywsigcmy73by42t72sn5wpfnkdpx225bxrkm5a", :published {:archive "https://kotobase.net/ipfs/bafkreifs3sxhkyqhdscwywsigcmy73by42t72sn5wpfnkdpx225bxrkm5a", :size 72250, :put-status 201, :get-status 200, :at "2026-08-15T13:31:43.506Z"}}
